*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin:0 auto;
    padding:0 2%;
}

html,body{
    height: 1200px;
    overflow-y: hidden;
    overflow-x: hidden;
}

header{
    padding-top: 20px;
}

.logo{
    padding-top: 20px;
    padding-left: 10px;
    width: 40px;
    height: 20px;
}

.menu{
    padding-top: 10px;
    width:1300px;
    text-align: right;
}

.menu a{
color: black;
text-decoration: none;
font-weight: bold;
margin-right: 15px;
}


section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: 10px;
    right: 30px;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: rgb(175, 248, 252);
}

.social-media{
    position: absolute;
    right: 20px;
    top: 400px;
}

.social-media img{
    display: block;
    width: 40px;

}

.texto-sobre{
    padding-top: 400px;
    text-align: left;
}

.pedra{
    padding-right: 750px;
    padding-left: 250px;
}