{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <div class="row">
        <div class="col-4">
            <h3>Pessoa</h3>
        </div>
        <div class="col-3">
            <a class="btn btn-outline-primary" href="{% url 'pessoa:detalhe-atualizar' object.id %}"><i class="fa-solid fa-pencil"></i></a>
        </div>
        <div class="col-5">
            <a class="btn btn-outline-danger" href="{% url 'pessoa:detalhe-eliminar' object.id %}"><i class="fa-solid fa-trash-can"></i></a>
        </div>
    </div>
    <hr>
    <!--<div style="padding: 15px;">-->
    <div>
        <p><b>Nome: </b>{{object.nome}}</p>
        <p><b>Espécie: </b>{{object.especie}}</p>
        <p><b>Idade: </b>{{object.idade}}</p>
    </div>
    <a class="btn btn-outline-danger" href="{% url 'pessoa:lista' %}"><i class="fa-sharp fa-solid fa-backward"></i></i></a>
    <hr>
</div>
{% endblock %}