*{
    padding: 0px;
    margin: 0px;
}

h4{
    color: rgb(249, 253, 253);
    font-size: 20px;
}

dt{
    font-weight: 700 /* rtl:600 */;
  }

nav{
    background-color: rgb(50, 139, 248);
    width: 350px;
    height: 100%;
}

ul{
    background-color: blue;
    top: 50px;
}

a{
    background-color: aqua;
    display: block;
    padding: 20px 5px;
    color: white;
}

.container {
    margin-left: 550px;
    margin-top: 80px;
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: rgb(11, 90, 236);
    border-color: rgb(9, 3, 3);
}